h1{
    color: red;
    font-size: 14px;
     
}
h1
h2
h3
}

li #tecnicas 

ul ul{
    list-style-type:circle ;
}

ul ul ul {
    list-style-type: square;
}


hr{
color: green;
background-color: green;
height: 3px;
}